body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #87bdff;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative; /* Importante para o overlay */
    height: 600px;
    width: 600px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    background-size: cover; /* Para o GIF se ajustar ao tamanho do card */
    background-position: center; /* Para centralizar a imagem */
    overflow: hidden; /* Caso o conteúdo ultrapasse, escondê-lo */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Sobreposição branca semitransparente */
    display: none; /* Será exibido via JS */
}

.card > .question p {
    font-size: 32px;
    font-family: sans-serif;
    font-weight: 600;
    z-index: 2; /* Para garantir que fique acima do overlay */
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    z-index: 2; /* Para os botões também ficarem acima do overlay */
}

.btn-yes, .btn-no {
    height: 48px;
    width: 100px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    z-index: 2;
}

.btn-yes {
    background-color: #9AFF9A;
}

.btn-no {
    background-color: #FF4040;
    color: #fff;
}

.answer {
    display: none;
}

.answer > p {
    font-size: 48px;
    font-family: sans-serif;
    font-weight: bold;
    color: #FF6EB4;
    text-shadow: 1px 1px #000;
    z-index: 2;
}
